.button_kind_primary {
  background: linear-gradient(180deg, rgba(250, 215, 213, 0.2) 0%, rgba(250, 215, 213, 0) 100%), rgb(var(--primary-color));
  color: var(--color6);

  &:hover {
    background: linear-gradient(0deg, rgba(45, 0, 0, 0.05) 0%, rgba(45, 0, 0, 0.05) 100%), linear-gradient(180deg, rgba(250, 215, 213, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgb(var(--primary-color));
  }

  &:hover:disabled {
    background: var(--color32);
  }
}
