.sortPicker {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  font-size: 14px;
}

.moreComments {
  display: block;
  max-width: 320px;
  margin: 20px auto;
  background: none !important;
  border: 1px solid rgb(var(--primary-color)) !important;
  border-radius: 1px;
  color: rgb(var(--primary-color)) !important;
}
